<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Name="Topin Secure Browser ($(var.Platform))" Manufacturer="NxtWave" Language="1033" Codepage="1252"
             Id="*" Version="!(bind.fileVersion.MainExecutable)" UpgradeCode="A1B2C3D4-E5F6-7890-ABCD-123456789DEF">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <MediaTemplate EmbedCab="yes" />
        <UIRef Id="WixUI_Minimal" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed. Please uninstall the existing version first." 
                      AllowSameVersionUpgrades="no" 
                      AllowDowngrades="no"
                      Schedule="afterInstallInitialize" />
        
        <!-- Detect existing installations -->
        <Upgrade Id="A1B2C3D4-E5F6-7890-ABCD-123456789DEF">
            <UpgradeVersion Minimum="0.0.0" Maximum="99.99.99" Property="PREVIOUSVERSIONSINSTALLED" 
                           IncludeMinimum="yes" IncludeMaximum="no" />
        </Upgrade>
        
        <!-- Show friendly message for existing installations -->
        <Condition Message="[ProductName] is already installed. Please uninstall the existing version before installing this version.">
            NOT PREVIOUSVERSIONSINSTALLED OR Installed
        </Condition>
        <Icon Id="ApplicationIcon" SourceFile="Resources\Application.ico" />
        <Property Id="ARPPRODUCTICON" Value="ApplicationIcon" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="PLEASE NOTE: In order to run Topin Secure Browser, you first need to install all the required dependencies as specified in the documentation." />
        <WixVariable Id="WixUILicenseRtf" Value="Resources\License.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="Resources\Banner.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="Resources\Dialog.bmp" />
        <Feature Id="ProductFeature" Title="Topin Secure Browser" Level="1">
            <ComponentGroupRef Id="ApplicationComponents" />
            <ComponentGroupRef Id="ServiceComponents" />
            <ComponentRef Id="ShortcutComponent" />
            <ComponentRef Id="DesktopShortcutComponent" />
            <ComponentRef Id="SearchKeywordsComponent" />
        </Feature>
        <InstallExecuteSequence>
            <Custom Action="LegacyCleanupAction" After="RemoveFiles" />
        </InstallExecuteSequence>
    </Product>
</Wix>
